--extra-index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu
yt-dlp>=2023.10.13
torch>=2.1.0
torchaudio>=2.1.0
colorlog>=6.7.0
numpy
scipy
streamlit>=1.30.0
watchdog>=3.0.0
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
python-multipart>=0.0.9
requests>=2.31.0
werkzeug>=3.0.0
